
@{
    ViewBag.Title = "Dashboard";
}
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

</head>

<body style="background-color:burlywood">

    <div class="jumbotron">
        <center><h3>Welcome your are loogedin</h3></center>
        <center><h3>@Html.ActionLink("lets build your Cv", "Create", "personalinfoes")</h3></center>
    </div>
    </body>

